html {
  scroll-behavior: smooth; /* scroll smoothly to sections */
}
body {
	background-color: #171717;
	color: white;
	font-family: 'Noto Sans', sans-serif;
}
th {
	width: 10px; /* to display lang bars properly */
}
.light {
    background-color: white;
    color: black;
    border-color: black;
}
.navbar.scrolled {
	background-color: #171717;
	transition: background-color 1s;
}
.navbar-dark .navbar-toggler-icon {
	background-image: url("../assets/toggle.png"); /* changed navbar toggle button */
}
.navbar-dark .navbar-toggler {
	border: none;
}
.hexagon {
	width: 100px;
  	height: 100px;
}
.card {
	width: 50%;
	background-color: #171717;
	border: none;
}
.card-body {
	padding-left: 0;
	padding-right: 0;
}
.carousel-indicators li {
	background-color: grey;
}
#lightBtn {
	color: grey;
}
#home {
	font-family: 'Noto Serif', serif;
}
#profile {
	width: 30%;
	border-radius: 50%; /* circular profile pic */
}
/*shrink font sizes at this screen size*/
@media (max-width: 1200px) {
	.img-fluid {
		padding-left: 10px;
		padding-right: 10px;
	}
	.card-title {
		font-size: 1rem;
	}
	.card-text {
		font-size: 1rem;
	}
	.btn {
		display: block;
		margin-bottom: 1rem;
	}
	#namePlate {
		font-size: 2rem;
	}
	#profile {
		width: 60%;
	}
	#about p {
		font-size: 1rem;
	}
}